<!-- FOOTER -->
<section class="footer">
	<div class="row">
		<div class="col-sm-12">

			<div class="footer-wrapper">
				{{> "widgets/mailchimp-newsletter"}}
				</div>

				<div class="widgets-wrapper">
					<div class="row">

						<div class="col-sm-4">
							{{> "widgets/about"}}
						</div>

						<div class="col-sm-4">
							{{> "widgets/latest-posts"}}
						</div>

						<div class="col-sm-4">
							{{> "widgets/tag-cloud"}}
						</div>

					</div>

				</div>
			</div>

			<div class="copyright">
				<p class="text-center">Copyright by Zerple. All Rights Reserved.</p>
			</div>

		</div>
	</div>
</section>

<a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>
<!-- END OF FOOTER -->
