<!-- SHARING -->
<a href="#" rel="shared-popover" data-popover-content="#shared-btn-Popover" title="Share" data-placement="top" class="button-circle"><i class="fa fa-share-square-o"></i></a>
<!-- Share buttons hidden popover -->
<div id="shared-btn-Popover" class="hide">
  <ul class="blog-share-buttons">
    <li><a href="http://twitter.com/share?text={{encode title}}&amp;url={{url absolute='true'}}" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li><a href="https://plus.google.com/share?url={{url absolute='true'}}" title="Google+" target="_blank"><i class="fa fa-google-plus"></i></a></li>
  </ul>
</div>
<!-- End of Share buttons hidden popover -->
