<!-- TOP BAR -->
<div class="the-top-bar">
  <div class="row">
    <div class="col-sm-12">
      <ul id="topmenu">
				<li><a href="/about/">ABOUT</a></li>
				<li><a href="/contact/">CONTACT</a></li>
				<li><a href="/error/">404</a></li>
				<li><a href="/ghost-markdown-examples/">MARKDOWN EXAMPLES</a></li>
			</ul>

    </div>
  </div>
</div>
<!-- END OF TOP -->
