{{!< default}}
<div class="articles-container single">
	<div class="row">
		<div class="col-sm-12">

<div class="block-grid-xs-1">
			<div class="block-grid-item">

				<article>
          <div class="article-content single">
					 <h1 class="error text-center">404</h1>
					 <p class="text-center">
						The page doesn't exist.
					 </p>
         </div>
				</article>

			</div>
</div>
<div class="clearance"></div>

</div>
</div>
</div>
<div class="spacing-35">
</div>