{{!< default}}

<div class="articles-container">
	<div class="row">
		<div class="col-sm-12">
			{{> "loop-home"}}
			<div class="clearance"></div>
			{{! Previous/next page links - displayed on every page }}
			{{pagination}}
		</div>

	</div>
</div>
