<div class="newsletter">
	<div class="row">
		<div class="col-sm-12 col-md-8 center-block">
			<p class="text-center">Sign up to our newsletter, leave your email here</P>
			<div id="mc_embed_signup">
				<form id="mc-embedded-subscribe-form" class="validate" novalidate="" target="_blank" name="mc-embedded-subscribe-form" method="post" action="//audemedia.us7.list-manage.com/subscribe/post?u=b5638e105dac814ad84960d90&id=9345afa0aa">
					<input id="mce-EMAIL" class="required form-control" type="email" name="EMAIL" value="">
					<div style="position: absolute; left: -5000px;">
						<input type="text" value="" tabindex="-1" name="b_b5638e105dac814ad84960d90_9345afa0aa">
					</div>
					<input id="mc-embedded-subscribe" class="button" type="submit" name="subscribe" value="Subscribe">
				</form>
			</div>
		</div>
	</div>
